<div class="h-full flex flex-col p-2">

    <div class="flex w-full">
        <button (click)="prev()">prev</button>
        <h2 class="w-full text-center">{{monthNames[displayedMonth]}} {{displayedYear}}</h2>
        <button (click)="next()">next</button>
    </div>
    <div class="grid grid-cols-7  gap-[1px] ">
        @for(day of dayNames; track day ) {
        <div>{{day}} </div>
        }
    </div>
    <div class="grid grid-cols-7 flex-1 grid-rows-[auto]">

        @for(day of monthDays(); track $index) {
        <div class="flex bg-white" [ngClass]="" [ngClass]="[day == currentDay() && displayedMonth == currentMonth() ? 'font-bold' : '', 
            day != null ? 'day' : '',
            $index == monthDays().length - 1 ? 'border-bottom-right' : '',
            day == 1 ? 'border-top-left' : '',
            $index == 6 ? 'border-top-right' : '',
            $index == 7 && day! < 7 ? 'border-top-left' : '',
            $index == 28 && monthDays().length < 36 ? 'border-bottom-left' : '',
            $index == 21 && monthDays().length < 29 ? 'border-bottom-left' : '',
            $index > 30 && monthDays().length < 37 && $index % 7 == 0 ? 'border-bottom-left' : '',
            $index == 27 && monthDays().length <= 34 ? 'border-bottom-right' : '',
            $index % 7 == 6 && day! > 28 ? 'border-bottom-right' : ''
            ]">
            <span class="day-number">

                {{day}}
            </span>

            <div class="grid gap-[2px] h-min py-1">

                @let vacancies = getCount('vacancies', day);
                @if(vacancies) {
                <span class="bg-gray-200 block px-1 text-sm rounded-full">{{ vacancies}}</span>
                }

                @let interviews = getCount('interviews',day);
                @if(interviews) {
                <span class="bg-yellow-300 px-1 block text-sm rounded-full">{{ interviews}}</span>
                }

                @let responses =getCount('responses', day);
                @if(responses) {
                <span class="bg-blue-300 px-1 block text-sm rounded-full">{{ responses}}</span>
                }
            </div>
        </div>
        }
    </div>
</div>