<div class="flex">
    <button (click)="prev()">prev</button>
    <h2>{{monthNames[displayedMonth]}} {{displayedYear}}</h2>
    <button (click)="next()">next</button>
</div>
<div class="grid grid-cols-7">
    @for(day of dayNames; track day ) {
    <div>{{day}} </div>
    }
    @for(day of monthDays(); track day) {
    <div [ngClass]="day == currentDay() && displayedMonth == currentMonth() ? 'font-bold' : ''">{{day}}

        @let vacancies = getVacancyCount(day);
        @if(vacancies) {
        <span class="border-solid border">{{ vacancies}}</span>
        }
    </div>
    }
</div>