<button (click)="dialog.showModal()">track vacancy</button>

<dialog #dialog>
    <button (click)="dialog.close()">close</button>
    <form>

        <label for="platform">Original text</label>
        <input [formField]="vacancyForm.originalText" type="text" (change)="updateForm()">
        <br>

        <fieldset>
            <legend>Skills</legend>

            <label for="platform">Must</label>
            <input [formField]="vacancyForm.skillsMust" type="text">
            <br>

            <label for="platform">Plus</label>
            <input [formField]="vacancyForm.skillsPlus" type="text">
            <br>

            <label for="platform">Soft</label>
            <input [formField]="vacancyForm.softSkills" type="text">
        </fieldset>

        <br>
        <label for="platform">Company</label>
        <input [formField]="vacancyForm.company" type="text">
        <br>
        @if ((vacancyForm.company().touched() || submitButtonClicked) && vacancyForm.company().invalid()) {
        @for (error of vacancyForm.company().errors(); track error) {
        <li>{{ error.message }}</li>
        }
        }

        <label for="platform">Recruiters</label>
        <input [formField]="vacancyForm.recruiters" type="text">
        <br>


        <br>
        <label for="platform">Platform</label>
        <input [formField]="vacancyForm.platform" type="text">

        <br>
        <label for="role">Role</label>
        <select [formField]="vacancyForm.role" [formControl]="roleFormControl">
            <option [value]="VACANCY_ROLES.UNDEFINED">Select a role</option>
            <option [value]="VACANCY_ROLES.FRONTEND">Frontend</option>
            <option [value]="VACANCY_ROLES.BACKEND">Backend</option>
            <option [value]="VACANCY_ROLES.FULLSTACK">Fullstack</option>
            <option [value]="VACANCY_ROLES.UX_UI">UX / UI</option>
        </select>
        @if ((vacancyForm.role().touched() || submitButtonClicked) && vacancyForm.role().invalid()) {
        @for (error of vacancyForm.role().errors(); track error) {
        <li>{{ error.message }}</li>
        }
        }

        <br>
        <label for="location">Location</label>
        <input [formField]="vacancyForm.location" type="text">


        <fieldset>
            <legend> Salary range</legend>


            <label>Min</label>
            <input [formField]="vacancyForm.salaryRange.min" type="number">

            <br>
            <label>Max</label>
            <input [formField]="vacancyForm.salaryRange.max" type="number">

        </fieldset>


        <fieldset>
            <legend> Experience range</legend>


            <label>Min</label>
            <input [formField]="vacancyForm.experienceRange.min" type="number">

            <br>
            <label>Max</label>
            <input [formField]="vacancyForm.experienceRange.max" type="number">

        </fieldset>
        <br>



        <fieldset>
            <legend>Type</legend>
            <select [formField]="vacancyForm.type" [formControl]="typeFormControl">
                <option [value]="VACANCY_TYPES.APPLICATION">Application</option>
                <option [value]="VACANCY_TYPES.PROPOSAL">Proposal</option>
            </select>
            <!-- <div>
                <input [formField]="offerForm.type" type="radio" [value]="OFFER_TYPES.APPLICATION" />
                <label [for]="OFFER_TYPES.APPLICATION">Application</label>
            </div>
            <div>
                <input [formField]="offerForm.type" type="radio" [value]="OFFER_TYPES.PROPOSAL" />
                <label [for]="OFFER_TYPES.PROPOSAL">Proposal</label>
            </div> -->
            @if ((vacancyForm.type().touched() || submitButtonClicked) && vacancyForm.type().invalid()) {
            @for (error of vacancyForm.type().errors(); track error) {
            <li>{{ error.message }}</li>
            }
            }
        </fieldset>

        <br>
        <fieldset>
            <legend>Modality</legend>
            <select [formField]="vacancyForm.modality" [formControl]="modalityFormControl">
                <option [value]="VACANCY_MODALITIES.UNDEFINED">Select a modality</option>
                <option [value]="VACANCY_MODALITIES.HYBRID">Hybrid</option>
                <option [value]="VACANCY_MODALITIES.ON_SITE">On site</option>
                <option [value]="VACANCY_MODALITIES.REMOTE">Remote</option>
            </select>
            <!-- <div>
                <input [formField]="offerForm.modality" type="radio" [value]="OFFER_MODALITIES.HYBRID" />
                <label [for]="OFFER_MODALITIES.HYBRID">Hybrid {{OFFER_MODALITIES.HYBRID}}</label>
            </div>
            <div>
                <input [formField]="offerForm.modality" type="radio" [value]="OFFER_MODALITIES.REMOTE" />
                <label [for]="OFFER_MODALITIES.REMOTE">Remote</label>
            </div>
            <div>
                <input [formField]="offerForm.modality" type="radio" [value]="OFFER_MODALITIES.ON_SITE" />
                <label [for]="OFFER_MODALITIES.ON_SITE">On site</label>
            </div> -->
        </fieldset>

        <button (click)="$event.preventDefault(); submitForm()">Submit</button>
    </form>
</dialog>