<dialog #dialog class="w-full sm:w-2/3 max-w-[700px]">
    <div class="flex justify-end sticky top-0 p-2 gap-2 bg-white">
        <button (click)="updating && updateVacancy(); updating = !updating; ">
            @if(updating){<i class="bi bi-floppy2-fill"></i>}@else{<i class="bi bi-pencil-fill"></i>}
            {{!updating ? 'Edit' : 'Save'}}
        </button>
        <button (click)="onClose.emit()"><i class="bi bi-x-lg"></i></button>
    </div>

    <header class="bg-gray-200 p-2">
        <div class="flex">
            <h2 class="inline flex-1 ">
                {{vacancy()?.title}}
            </h2>
            <span class="inline bg-white h-min px-2 rounded-full ">
                {{ getStatusString(vacancy()?.status!)}}
            </span>
        </div>
        <h3 class="py-2"> {{vacancy()?.company}}</h3>

        @if (vacancy()?.location) {
        <i class="bi bi-geo-alt-fill"></i>
        {{vacancy()?.location}}
        }
        @if (vacancy()?.modality) {
        ({{vacancy()?.modality}})
        }
    </header>

    <main class="p-2">

        @if (!updating) {
        <i class="bi bi-calendar"></i>
        Applied at: {{vacancy()?.createdAt | date:'dd/MM/yy' }}
        <hr>
        @let minSalary = vacancy()?.salaryRange?.min;
        @let maxSalary = vacancy()?.salaryRange?.max;
        @if(minSalary || maxSalary) {
        <i class="bi bi-cash"></i>
        Salary range: {{minSalary || '???'}}K - {{maxSalary || '???'}}K
        <hr>

        }

        @let minExperience = vacancy()?.experienceRange?.min;
        @let maxExperience = vacancy()?.experienceRange?.max;
        @if(minExperience || maxExperience) {
        <i class="bi bi-suitcase-lg-fill"></i> Experience range: {{minExperience || '???'}} years - {{maxExperience ||
        '???'}} years
        <hr>
        }
        @if(vacancy()?.recruiters) {
        <i class="bi bi-person-fill"></i>
        {{vacancy()?.recruiters}}
        <hr>}
        <!--********************skills************************-->
        @let skillsPlus = (vacancy()?.skillsPlus?.split(',') || []).filter(string => string != "");
        @let skillsMust = (vacancy()?.skillsMust?.split(',') || []).filter(string => string != "");
        @let softSkills = (vacancy()?.softSkills?.split(',') || []).filter(string => string != "");
        @let anySkill = skillsPlus || skillsMust || softSkills;

        @if(anySkill) {
        <i class="bi bi-tools"></i>
        Skills <br>
        <div class="pl-6">
            @if(skillsMust.length > 0) { <b>Must have:</b>
            @for(skill of skillsMust; track skill) {
            <span class="bg-gray-200 rounded-full px-2 mr-1 mb-1 inline-block">{{skill}}</span>
            }
            <br>
            }
            @if(skillsPlus.length > 0) { <b>Valued:</b>
            @for(skill of skillsPlus; track skill) {
            <span class="bg-gray-200 rounded-full px-2 mr-1 mb-1 inline-block">{{skill}}</span>
            }
            <br>
            }

            @if(softSkills.length > 0) { <b>Soft skills:</b>
            @for(skill of softSkills; track skill) {
            <span class="bg-gray-200 rounded-full px-2 mr-1 mb-1 inline-block">{{skill}}</span>
            }}
        </div>
        <hr>
        }

        <!-- @if(vacancy()?.platform) {
        Job board:
        {{vacancy()?.platform}}
        <hr> } -->
        <!-- @if(vacancy()?.type) {
        Type:
        {{vacancy()?.type}}
        <hr>
        } -->

        @if(vacancy()?.originalText) {
        <details>
            <summary> Original text</summary>
            <p class="text-xs pl-4"> {{vacancy()?.originalText}}
            </p>
        </details>
        <hr>
        }
        @if(vacancy()?.responses) {

        Responses
        <br> {{vacancy()?.responseIds}}
        }

        @let id = vacancy()?.id;
        @if(id) {
        <app-annotations-component [entityId]="id" [entityType]="ANNOTATION_ENTITY_TYPES.OFFER" />
        <app-response-details [vacancyId]="id"></app-response-details>
        }

        }

        @if (updating) {
        <form>
            <div class="grid grid-cols-2 gap-2">
                <div>
                    <label for="vacancyForm.company">Company</label>
                    <input [formField]="vacancyForm.company" type="text">
                    @if (vacancyForm.company().touched() && vacancyForm.company().invalid()) {
                    @for (error of vacancyForm.company().errors(); track error) {
                    <li>{{ error.message }}</li>
                    }
                    }
                </div>

                <div>
                    <label for="vacancyForm.role">Role</label>
                    <input [formField]="vacancyForm.role" type="text">
                </div>

                <div>
                    <label for="vacancyForm.status">Status</label>
                    <input [formField]="vacancyForm.status" type="text">
                </div>

                <div>
                    <label for="vacancyForm.location">Location</label>
                    <input [formField]="vacancyForm.location" type="text">
                </div>

                <div>
                    <label for="vacancyForm.modality">Modality</label>
                    <input [formField]="vacancyForm.modality" type="text">
                </div>

                <div>
                    <label for="">
                        Salary range (annual gross K)
                    </label>
                    <div class="flex gap-2">

                        <input [formField]="vacancyForm.salaryRange.min" type="number">
                        -
                        <input [formField]="vacancyForm.salaryRange.max" type="number">
                    </div>
                </div>

                <div>
                    <label for="">
                        Experience range (years)
                    </label>
                    <div class="flex gap-2">

                        <input [formField]="vacancyForm.experienceRange.min" type="number">
                        -
                        <input [formField]="vacancyForm.experienceRange.max" type="number">
                    </div>
                </div>

                <div>
                    <label for="offerForm.recruiters">
                        Recruiter
                    </label>
                    <input [formField]="vacancyForm.recruiters" type="text">
                </div>


            </div>

            <hr>
            <ul>
                <label for="">Skills</label>
                <li>
                    Must have:
                    <input [formField]="vacancyForm.skillsMust" type="text">
                </li>
                <li>
                    Valued:
                    <input [formField]="vacancyForm.skillsPlus" type="text">
                </li>
                <li>

                    Soft skills:
                    <input [formField]="vacancyForm.softSkills" type="text">
                </li>
            </ul>
            <!-- <label for="offerForm.platform"> Platform / job board:
            </label>
            <input [formField]="vacancyForm.platform" type="string">
            <hr>
            <fieldset>
                <div class="flex">
                    <input class="w-min" [formField]="vacancyForm.type" type="radio"
                        [value]="VACANCY_TYPES.APPLICATION" />
                    <label [for]="VACANCY_TYPES.APPLICATION">Application</label>
                </div>
                <div class="flex">
                    <input class="w-min" [formField]="vacancyForm.type" type="radio" [value]="VACANCY_TYPES.PROPOSAL" />
                    <label [for]="VACANCY_TYPES.PROPOSAL">Proposal</label>
                </div>
            </fieldset>
            <hr>
            <label for="vacancyForm.originalText">Original text</label> <br>
            <textarea [formField]="vacancyForm.originalText" type="text"> </textarea>
            <hr> -->
        </form>
        }
    </main>
</dialog>