<main class="h-[100vh] overflow-hidden flex flex-col">
    <nav class="sm:hidden border-b-[1px] border-t-0 flex justify-between border-solid border-x-0 p-1">
        <div class="w-0">

            <button (click)="menu.classList.remove('hidden')"><i class="bi bi-list"></i></button>
        </div>
        <h3>Applitrack</h3>
        <div></div>
    </nav>


    <div class="flex overflow-hidden flex-1">
        <nav #menu
            class="hidden rounded-lg sm:rounded-none z-[402] sm:flex border-solid sm:border-r-[1px] sm:border-l-0 sm:border-solid sm:border-y-0 p-2 absolute sm:relative bg-white sm:bg-none z-10 m-2 sm:m-0 flex flex-col gap-2">
            <button class="sm:hidden self-end block w-min" (click)="menu.classList.add('hidden')"><i
                    class="bi bi-x-lg"></i></button>

            <h3 class="hidden sm:block">Applitrack</h3>
            <ul class="flex flex-col p-0 m-0">

                <a routerLink="/vacancies" [ngClass]="router.url == '/vacancies' ? 'selected' : ''">Vacancies</a>
                <a routerLink="/dashboard" [ngClass]="router.url == '/dashboard' ? 'selected' : ''">Dashboard</a>
                <a routerLink="/calendar" [ngClass]="router.url == '/calendar' ? 'selected' : ''">Calendar</a>
                <a routerLink="/contacts" [ngClass]="router.url == '/contacts' ? 'selected' : ''">Contacts</a>
                <a routerLink="/notes" [ngClass]="router.url == '/notes' ? 'selected' : ''">Notes</a>
            </ul>
            <hr class="w-full">
            <app-vacancy-form></app-vacancy-form>
            <app-response-form></app-response-form>
            <div class="flex-1 flex items-end justify-end">

                <button class="w-min">
                    <i class="bi bi-sun"></i>
                    <i class="bi bi-moon"></i>
                </button>
            </div>
        </nav>

        <div class="flex-1 overflow-auto relative">
            <router-outlet></router-outlet>
        </div>
    </div>

</main>
<app-notifications></app-notifications>


<!-- <app-alerts></app-alerts> -->