<main>
    <nav class="border-b">
        <b>Applitrack</b>

        <a routerLink="/vacancies">Vacancies</a> &nbsp;
        <a routerLink="/dashboard">Dashboard</a> &nbsp;
        <a routerLink="/dashboard">Calendar</a> &nbsp;

        <a routerLink="/contacts">Contacts</a> &nbsp;
        <a routerLink="/tips">Tips</a> &nbsp;
        <a routerLink="/routine">Routine</a> &nbsp;
    </nav>


    <div class="flex">
        <nav class="border-r">
            <app-vacancy-form></app-vacancy-form>
            <br>
            <app-response-form></app-response-form>
        </nav>
        <hr>
        <div class="flex-1">
            <router-outlet></router-outlet>
        </div>
    </div>

</main>
<!-- <app-notifications></app-notifications> -->


<!-- <app-alerts></app-alerts> -->