/* You can add global styles to this file, and also import other style files */
// @tailwind base;
// @tailwind components;
@tailwind utilities;

// h2 {
//     @apply text-xl font-bold;
// }

// button {
//     @apply bg-[#d9d9d9] px-[6px]
// }

// table {
//     @apply border
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

table,
th,
td {
    border-bottom: 1px solid rgb(185, 185, 185);
    border-collapse: collapse;
    padding: 10px
}

dialog {
    padding: 0;
}