<h2>Vacancies</h2>

<button (click)="view == 'grid' ? view = 'table' : view = 'grid'">{{view == 'table' ? 'grid' : 'table'}}</button>
{{vacancies().length}} vacancies
@if (view == 'table') {
<table>
    <thead>
        <tr>
            <th></th>
            <th>company</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (vacancy of vacancies(); track vacancy) {
        <tr>
            <td>
                {{vacancy.title}}
            </td>

            <td>
                {{vacancy.company}}
            </td>
            <td>
                <span class="status-chip" [ngClass]="vacancy.status">
                    {{vacancy.status}}
                </span>
            </td>
            <td>
                <appli-vacancy-detail [vacancyId]="vacancy.id"></appli-vacancy-detail>
            </td>
            <td>
                <button (click)="deleteVacancy(vacancy.id)">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}

@if (view == 'grid') {

<div class="grid grid-cols-5">
    @for (vacancy of vacancies(); track vacancy) {
    <div class="border-solid border">
        {{vacancy.title}} {{vacancy.company}} <span class="status-chip" [ngClass]="vacancy.status">
            {{vacancy.status}}
        </span>
        <appli-vacancy-detail [vacancyId]="vacancy.id"></appli-vacancy-detail>
        <button (click)="deleteVacancy(vacancy.id)">Delete</button>
    </div>
    }
</div>
}