{{vacancies().length}} vacanciesies

<table>
    <thead>
        <tr>
            <th>Role</th>
            <th>company</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (vacancy of vacancies(); track vacancy) {
        <tr>
            <td>
                {{vacancy.role}}
            </td>
            <td>
                {{vacancy.company}}
            </td>
            <td>
                <appli-vacancy-detail [vacancyId]="vacancy.id"></appli-vacancy-detail>
            </td>
            <td>
                <button (click)="deleteVacancy(vacancy.id)">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>