.status-chip {
    @apply rounded-full px-2 py-[2px] w-min h-min;
}

.APPLIED {
    background-color: rgb(224, 224, 224);
}

.REJECTED {
    background-color: #ffcdcd38;
}

.IN_PROCESS {
    background-color: #0051ff38;
}

.RECIPROCATED {
    background-color: #00ff2638;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.042);
    cursor: pointer
}