:host {
    height: 100%;
    overflow: auto
}

.status-chip {
    @apply rounded-full px-2 py-[2px] w-min h-min;
}

.APPLIED {
    background-color: rgb(224, 224, 224);
}

.REJECTED {
    background-color: #ffcdcd38;
}

.IN_PROCESS {
    background-color: #0051ff38;
}

.RECIPROCATED {
    background-color: #00ff2638;
}

header {
    z-index: 1
}

tbody tr {
    position: relative;
    z-index: 0;
}

tbody tr:hover::after {
    content: "";
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.042);
    pointer-events: none;
    cursor: pointer
}