<button (click)="viewOffer()">Detail</button>

<dialog #dialog>
    <button (click)="dialog.close(); updating = false;">close</button>
    <button (click)="updating && updateOffer(); updating = !updating; ">{{!updating ? 'Edit' : 'Save changes'}}</button>
    <form action="">
        <header>
            @if (!updating) {}
            <h1>
                {{offer()?.role}} at {{offer()?.company}}
            </h1>

            @if (updating) {
            <label for="offerForm.role">Role</label>
            <input [formField]="offerForm.role" type="text">
            }

            @if (updating) {
            <label for="offerForm.role">Company</label>
            <input [formField]="offerForm.company" type="text">
            }
            @if (offerForm.company().touched() && offerForm.company().invalid()) {
            @for (error of offerForm.company().errors(); track error) {
            <li>{{ error.message }}</li>
            }
            }

            @if (!updating) {
            <span>
                {{offer()?.status}}
            </span>
            }
            @if (updating) {
            Status
            <input [formField]="offerForm.status" type="text">
            }
            <br>
            @if (!updating) {
            {{offer()?.createdAt | date:'dd/MM/yy' }}
            @if (offer()?.location) {
            , {{offer()?.location}}
            }
            @if (offer()?.modality) {
            ({{offer()?.modality}})
            }
            }

        </header>
        <hr>

        @if (updating) {
        Location
        <input [formField]="offerForm.location" type="text">
        }

        @if (updating) { Modality
        <input [formField]="offerForm.modality" type="text">
        <hr>
        }

        @if (!updating) {
        {{offer()?.salaryRange?.min}}K - {{offer()?.salaryRange?.max}}K
        }

        @if (updating) {
        <label for="">
            Salary range (annual gross K)
        </label>
        <input [formField]="offerForm.salaryRange.min" type="number">
        <input [formField]="offerForm.salaryRange.max" type="number">
        <hr>
        }

        @if (!updating) {
        👤 {{offer()?.recruiters}}
        }
        @if (updating) {
        <label for="offerForm.recruiters">
            Recruiter
        </label>
        <input [formField]="offerForm.recruiters" type="text">
        <hr>
        }


        @let skillsPlus = (offer()?.skillsPlus?.split(',') || []).filter(string => string != "");
        @let skillsMust = (offer()?.skillsMust?.split(',') || []).filter(string => string != "");
        @let softSkills = (offer()?.softSkills?.split(',') || []).filter(string => string != "");

        @if (!updating) {
        Skills <br>
        @if(skillsMust.length > 0) { <b>Must have:</b>}
        @for(skill of skillsMust; track skill) {
        {{skill}} |
        }
        @if(skillsMust.length > 0) { <br>}

        @if(skillsPlus.length > 0) { <b>Valued:</b>}
        @for(skill of skillsPlus; track skill) {
        {{skill}} |
        }
        @if(skillsMust.length > 0) { <br>}

        @if(softSkills.length > 0) { <b>Soft skills:</b>}
        @for(skill of softSkills; track skill) {
        {{skill}} |
        }
        }

        @if (updating) {
        <label for="">Skills</label> <br>
        Must have:
        <input [formField]="offerForm.skillsMust" type="text">
        <br>
        Valued:
        <input [formField]="offerForm.skillsPlus" type="text">
        <br>
        Soft skills:
        <input [formField]="offerForm.softSkills" type="text">
        <hr>
        }


        @if (!updating) {
        <br>
        Platform / job board:
        {{offer()?.platform}}
        }
        @if (updating) {
        <label for="offerForm.platform"> Platform / job board:
        </label>
        <input [formField]="offerForm.platform" type="string">
        <hr>
        }


        @if (!updating) {
        <br>
        Type:
        {{offer()?.type}}
        }
        @if (updating) {
        <fieldset>
            <div>
                <input [formField]="offerForm.type" type="radio" [value]="OFFER_TYPES.APPLICATION" />
                <label [for]="OFFER_TYPES.APPLICATION">Application</label>
            </div>
            <div>
                <input [formField]="offerForm.type" type="radio" [value]="OFFER_TYPES.PROPOSAL" />
                <label [for]="OFFER_TYPES.PROPOSAL">Proposal</label>
            </div>
        </fieldset>
        <hr>
        }

        @if (!updating) {
        <br>
        Original text:
        {{offer()?.originalText}}
        }
        @if (updating) {
        <label for="offerForm.originalText">Original text</label> <br>
        <textarea [formField]="offerForm.originalText" type="text"> </textarea>
        <hr>
        }

        @if (!updating) {
        Responses
        <br> {{offer()?.responseIds}}
        }
    </form>
</dialog>