{{offers().length}} offers

<table>
    <thead>
        <tr>
            <th>Role</th>
            <th>company</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (offer of offers(); track offer) {
        <tr>
            <td>
                {{offer.role}}
            </td>
            <td>
                {{offer.company}}
            </td>
            <td>
                <appli-offer-detail [offerId]="offer.id"></appli-offer-detail>
            </td>
            <td>
                <button (click)="deleteOffer(offer.id)">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>